.VPHomeHero .main:after {
  content: '';
  background: url('./../../illustration.png');
  display: block;
  width: 320px;
  height: 320px;
  background-size: cover;
}

@media (min-width: 1100px) {
  .VPHomeHero .main:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
